* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.preview-card-container {
    display: flex;
    border-radius: 10px;
    max-height: 450px;
    width: 630px;
}

.inner-left-side {
    width: 50%;
    max-height: 450px;
    /* border: solid 1px red; */
}

.inner-right-side {
    /* border: solid 1px green; */
    padding: 30px 44px 0px 44px;
    width: 50%;
    border-radius: 0px 15px 15px 0px;
    background-color: hsl(0, 0%, 100%);
}

.product-image {
    width: 100%;
    height: 449.5px;
    object-fit: fill;
    border-radius: 15px 0px 0px 15px;
}

.top-heading {
    font-weight: 500;
    font-size: 1.4rem ;
}

.sub-heading {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.description-text {
    font-size: ;

}

.price-container {
    display: flex;
    margin: 15px 0px 15px 0px;
    align-items: center;
}
.discounted-price {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 50px;
}

.rrp-price {
    font-size: 0.9rem;
    font-family: 'Fraunces', serif;
    text-decoration-line: line-through;
}

.btn-add-to-cart {
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin-top: 15px;
    width: 250px;
    height: 55px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}