* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.preview-card-container {
    display: flex;
    border-radius: 10px;
    max-height: 450px;
    width: 630px;
}

.inner-left-side {
    width: 50%;
    max-height: 450px;
    /* border: solid 1px red; */
}

.inner-right-side {
    /* border: solid 1px green; */
    padding: 25px 42px 0px 42px;
    width: 50%;
    border-radius: 0px 15px 15px 0px;
    background-color: hsl(0, 0%, 100%);
}

.product-image {
    width: 100%;
    height: 449.5px;
    object-fit: fill;
    border-radius: 15px 0px 0px 15px;
}

.top-heading {
    font-weight: 500;
    font-size: 1.05rem ;
    color: hsl(228, 12%, 48%);
}

.sub-heading {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.9rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    padding-right: 2px; /* To make text be on same lines as the Required design */
}

.description-text {
   font-size: 0.9rem ; 
   color: hsl(228, 12%, 48%);

}

.price-container {
    display: flex;
    margin: 20px 0px 20px 0px;
    align-items: center;
}
.discounted-price {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.rrp-price {
    font-size: 0.9rem;
    font-family: 'Fraunces', serif;
    text-decoration-line: line-through;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
}

.btn-add-to-cart {
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin-top: 15px;
    width: 230px;
    height: 55px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.fa-cart-shopping {
    margin-right: 10px;
}

.btn-add-to-cart:hover {
    background-color: hsl(158, 79%, 19%);
    cursor: grab;
}