* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card-container {
    border: solid yellow 1px;
    max-height: 450px;
    width: 800px;
}

.inner-left-side {
    width: 50%;
    max-height: 450px;
    border: solid 1px red;
}

.product-image {
    float: left;
    width: 50%;
    height: 450px;
    object-fit: contain;
}

.inner-right-side {
    float: right;
    width: 50%;
}